*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url(../images/pg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}

.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0;
}
.nav a{
    text-decoration: none;
    font-size: 28px;
    font-family: verdana;
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: black;
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}

a.active, .nav a:hover{
    background-color: white;
    color: black;
    width: 100%;
}
.a{
    width: 95%;
}
.b{
    width: 85%;
}
.c{
    width: 80%;
}
.d{
    width: 90%;
}
.e{
    width: 95%;
}

.content{
    position: absolute;
    min-width: 2000px;
    width: auto;
    min-height: 800px;
    height: auto;
    right: 0;
    top: 10%;
}
.home{
    position: absolute;
    right: 0;
    bottom: -50px;
    color: white;
    font-family: verdana;
}
.home h1{
    font-size: 100px;
    padding-right: 50px;
    border-bottom: 1px solid white;
    text-transform: uppercase;
}
.home h3{
    font-size: 28px;
    padding: 5px 0;
    opacity: 0.6
}
.selfie-img{
    position: absolute;
    left: 1200px;
    top: 240px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.aboutme{
    position: absolute;
    right: 0;
    top: 10px;
    color: white;
    padding: 0 60px;
    font-family: century gothic;
    display: none;
}
.aboutme p{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}
.aboutme p1{
    font-size: 48px;
}
.aboutme .image{
    width: 23%;
    margin: 2%;
    float: left;
}
.image img{
    width: 100%;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.image img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.professional{
    position: absolute;
    color: white;
    font-family: century gothic;
    display: none;
}
.professional ul{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    list-style-position: inside;
}

.resume{
    font-size: 36px;
    font-family: verdana;
    line-height: 48px;
    text-transform: uppercase;
    color: #3498db;
}

.portfolio{
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 95%;
    text-align: center;
    display: none;
}
.portfolio p{
    color: white;
    font-family: century gothic;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    text-align: left;
}
.btn{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
.btn i{
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}
.btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0%{
        top: 90%;
        left: -110%;
    }50%{
        top: -30%;
        left: 10%;
    }100%{
        top: -10%;
        left: -10%;
    }
}
.service{
    position: absolute;
    right: 0;
    top: 10px;
    color: white;
    padding: 0 60px;
    font-family: century gothic;
    display: none;
}
.service p{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}
.service p1{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
    float: left;
}
.service .image{
    width: 23%;
    margin: 2%;
    float: left;
}
.image img{
    width: 100%;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1);
}
.image img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}